body{
    align-items: unset;
    align-content: unset;
    min-height: 0px;
    display: flex;
    flex-direction: row;
}

video{
    max-height: 80vh;
    width: 80vh;
    max-width: 90vw;
}

canvas{
    position: absolute;
    background-color: unset;
}